<%
# MaxEdux Online Ders Ssitemi - https://www.maxedux.com/.
# Copyright (c) 2020 Klass Tasarım Bilişim LTD
# Klass Tasarım Bilişim Dizayn : Kadir ŞEKER ( CEO ) 
%>

<div class="background">
  <div class="container pt-9 pb-8">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <h1 id="MaxEdux" class="display-4 mb-4"> <%= t("MaxEdux'a Hoşgeldiniz...").html_safe %></h1>
        <p class="lead offset-lg-2 col-lg-8 col-sm-12 "><%= t("landing.about", href: link_to(t("greenlight"), "https://maxedux.com", target: "_blank", rel: "noopener")).html_safe %></p>
        <%= link_to "https://www.youtube.com/watch?v=wA6ixr3OtvU", target: "_blank" do %>
          <h4><%= t("landing.video") %> <i class="far fa-play-circle ml-1"></i></h4>
        <% end %>
      </div>

    </div>
  </div>
</div>

<%= render "main/components/features" %>
